@model PagedList.IPagedList<Models.ViewModel.TableFViewModel>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    //var data = Model.GroupBy(x => x.NameArea).ToList();

}
@section header{
    Phòng bàn
}
@section jsFooter{
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Assets/Admin/libs/js/Controller/TableFController.js"></script>
}

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <h4 class="card-header fas fa-coffee">&nbsp; Tạo bàn</h4>
            <div class="card-body">
                @using (Html.BeginForm("Create", "TableFood", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-5" style="float:left;">
                        <div class="form-group row">
                            <label for="inputEmail2" class="col- col-lg-3 col-form-label text-md-left">Tên Bàn <span>*</span></label>
                            <div class="col-9 col-lg-8">
                                <input type="text" class="form-control " name="TableFood_name" id="validationCustomUsername" placeholder="nhập tên bàn" aria-describedby="inputGroupPrepend" required>
                            </div>
                        </div>
                    </div>
                        <div class="col-5" style="float:left;">
                            <div class="form-group row">
                                <label for="inputWebSite" class="col-3 col-lg-3 col-form-label text-md-left">Khu vực *</label>
                                <div class="col-9 col-lg-6 ">

                                    @Html.DropDownList("idArea", null, "--Chọn khu vực--", new { @class = "nav-link dropdown-toggle",@id="idarea" })
                                
                                </div>

                            </div>

                        </div>
                        <div class="col-2" style="float:left;">
                            <div class="form-group row">
                                <label class="col-3 col-lg-3 col-form-label text-right">
                                    Trạng thái *
                                </label>
                                <div class="col-9 col-lg-6 " style="padding-top: 8px;margin-left:22px">
                                    <input data-val="true" data-val-required="The isNewlyEnrolled field is required." id="status" name="status" type="checkbox" value="true" style="margin-left:25px" />
                                </div>
                                <label id="stttb"></label>
                            </div>
                        </div>
                        <div class="pt-2 pt-sm-5 mt-1">
                            <div class="col-sm-6 pl-0">
                                <p class="text-success">
                                    <button type="submit" class="btn btn-space btn-primary" id="tablefood"><i class="fas fa-plus"></i>&nbsp;Tạo mới</button>
                                </p>
                            </div>
                        </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <h4 class="card-header fas fa-coffee">&nbsp; Danh sách bàn</h4><br />
            @using (Html.BeginForm("Index", "TableFood", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-4">
                        <input type="text" value="@ViewBag.seaching" placeholder="Tìm kiếm theo tên" class="form-control" name="seaching" style="border-radius:0.2em;margin-left: 1.5em;" />
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-info active btn-sm" style="border-radius:0.2em"><i class="fas fa-search"></i>&nbsp;Tìm kiếm</button>
                    </div>
                </div>
            }
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Khu vực</th>
                            <th scope="col">Tên Bàn</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var count1 = 1;
                            foreach (var item1 in Model)
                            {
                                <tr id="row_@item1.id">
                                    <th>@(count1++)</th>
                                    <td>@item1.NameArea</td>
                                    <td>@item1.name</td>
                                    <td scope="col">
                                        <a href="#" class="btn-active" data-id="@item1.id">@(item1.status ? "Kích hoạt" : "Khóa")</a>
                                    </td>
                                    <td>
                                        <a href="/Admin/TableFood/Edit/@item1.id" class="btn btn-success btn-sm"><i class="fas fa-edit"></i>&nbsp;Cập nhập</a>
                                        &nbsp;|&nbsp;
                                        <a class="btn btn-warning btn-sm" id="@item1.id" onclick="clik(@item1.id)" style="color:white;"><i class="fas fa-trash-alt"></i>&nbsp;Xóa</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = @page, seaching = @ViewBag.seaching }))
            </div>
        </div>
    </div>

</div>
<script>
    $('#tablefood').click(function (e) {
        var area = $('#idarea').val();
        var stt = $('#status').prop('checked');
        if (area == 0)
        {
       
            alert("bạn cần chọn khu vực");
                 e.preventDefault();
        }
    else if(stt == false)
        {
        alert("bạn cần chọn trạng thái");

        e.preventDefault();
        }
        else {
            $("[data-valmsg-for='idArea']").text("");
            e.preventDefault.remove();
        }
          
    })
    function clik(id) {
        var iddelete =
            {
                id: id
            }
        var x = confirm("Bạn có muốn xóa bản ghi?");
        if (x) {
            $.ajax({
                url: '@Url.Action("Delete", "TableFood")',
                type: 'POST',
                data: iddelete,
                conform: "Bạn có muốn xóa bản ghi",
                OnComplete: function () {
                    OnComplete: "$('#row_" + id + "').remove()"
                },
                success: function () {
                    window.location.reload();
                },
                error: function () {
                    alert('error');
                }
            })
        }
    }
</script>
