`@model PagedList.IPagedList<Models.ViewModel.FoodViewModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var user_Sesion = Session["User_Session"] as TimKiemViecLam.Common.UserLogin;

}

@section header{
    Đồ uống/ Món ăn
}
@section jsFooter{
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Assets/Admin/libs/js/Controller/FoodController.js"></script>

}
<div class="row">
    @if (user_Sesion.idRoel !=1)
    {

    }
    else
    {
        <div class="col-lg-12">
            <div class="card">
                <h4 class="card-header fas fa-coffee">&nbsp; Thêm Đồ Uống/Món ăn</h4>
                <div class="card-body">
                    @using (Html.BeginForm("Create", "Food", FormMethod.Post))
                {
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group row">
                                    <label for="inputEmail2" class="col-4 col-form-label text-left">Tên món*</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control namefood" name="Food_name" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required style="border-radius:0.2em">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group row">
                                    <label for="inputWebSite" class="col-4 col-form-label text-left">Danh mục *</label>
                                    <div class="col-8">
                                        @Html.DropDownList("idCategory", null, "--Nhóm đồ uống--", new { @class = "nav-link dropdown-toggle col", @style = "border-radius:0.2em", @id = "cate" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group row">
                                    <label for="" class="col-4 col-form-label text-left">Đơn vị tính*</label>
                                    <div class="col-8">
                                        @Html.DropDownList("idDVT", null, "--Đơn vị tính--", new { @class = "nav-link dropdown-toggle col", @style = "border-radius:0.2em", @id = "iddvt" })
                                    </div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-4">
                                <div class="form-group row">
                                    <label for="inputEmail2" class="col-4 col-form-label text-left">Giá<span>*</span></label>
                                    <div class="col-8">
                                        <input type="text" class="form-control pricefood" name="price" id="validationCustomUsername" onkeypress="return isNumberKey(event);" aria-describedby="inputGroupPrepend" required style="border-radius:0.2em">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group row">
                                    <label class="col-3 col-lg-3 col-form-label text-right">
                                        Trạng thái *
                                    </label>
                                    <div class="col-9 col-lg-6 " style="padding-top: 0.5em;margin-left:1.2em">
                                        <input data-val="true" data-val-required="The isNewlyEnrolled field is required." id="status" name="status" type="checkbox" value="true" style="margin-left:1.7em" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2 pt-sm-5 mt-1" style="padding-top: 0px !important;float: right;margin-right: 8em;">
                            <div class="col-sm-6 pl-0">
                                <p class="text-success">

                                    <button class="btn btn-space btn-primary" id="creatCate" style="border-radius:0.2em"><i class="fas fa-plus"></i>&nbsp;Tạo mới</button>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
  
    <div class="col-lg-12">
        <div class="card">
            <h4 class="card-header fas fa-coffee">&nbsp; Danh sách đồ uống/ món ăn</h4>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Food", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-md-3">
                            <input type="text" value="@ViewBag.seaching" placeholder="Tìm kiếm theo tên" class="form-control" name="seaching" style="border-radius:0.2em" />
                        </div>
                        <div class="col-md-3 ">
                            <div class="col">
                                @Html.DropDownList("idCategory", null, "--Nhóm đồ uống--", new { @class = "nav-link dropdown-toggle col", @style = "border-radius:0.2em" })
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="col">
                                @Html.DropDownList("idDVT", null, "--đơn vị tính--", new { @class = "nav-link dropdown-toggle col", @style = "border-radius:0.2em" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-info active btn-sm" style="border-radius:0.2em"><i class="fas fa-search"></i>&nbsp;Tìm kiếm</button>
                        </div>
                    </div>
                }
                <br />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Tên đồ</th>
                            <th scope="col">Danh mục</th>
                            <th scope="col">Đơn vị tính</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Tình trạng</th>
                            @if (user_Sesion.idRoel != 1)
                            {

                            }
                            else
                            {
                                <th scope="col">Thao tác</th>
                            }
                           
                        </tr>
                    </thead>
                    <tbody>
                        @{
                                var dem = 1;
                                var count = ViewBag.rowStart + dem;
                                var x = user_Sesion.idRoel;
                                foreach (var item in Model)
                                {
                                <tr id="row_@item.Food_id">
                                    <th scope="col">@(count++)</th>
                                    <td scope="col">@item.Food_name</td>
                                    <td scope="col">@item.FoodCate_name</td>
                                    <td scope="col">@item.DVT_Name</td>
                                    <td scope="col">@string.Format("{0:0,0}", item.Price)</td>
                                    <td scope="col">
                                        <a href="#" class="btn-active" data-id="@item.Food_id">@(item.status ? "Kích hoạt" : "Khóa")</a>
                                    </td>
                                    @if (x != 1)
                                    {

                                    }
                                    else
                                    {
                                        <td scope="col">
                                            <a name="CapNhat" class="btn btn-success btn-sm update col-5" onclick="UpdateFood(@item.Food_id)" style="color:white;border-radius:0.2em" data-id="@item.Food_id">
                                                <i class="fas fa-edit"></i>&nbsp;Cập nhập
                                            </a>
                                            <strong>|</strong>
                                            <a class="btn btn-warning btn-sm Delete col-4" data-id="@item.Food_id" id="@item.Food_id" onclick="DeleteFood(this,@item.Food_id)" style="color:white;border-radius:0.2em"><i class="fas fa-trash-alt"></i>&nbsp;Xóa</a>
                                        </td>
                                    }
                                  
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = @page, seaching = @ViewBag.seaching, idCategory = @ViewBag.idCategory, idDVT = @ViewBag.idDVT }))
            </div>
        </div>
    </div>
    <div id="modal-wrapper" class="modal">
        @using (Html.BeginForm("Update", "Food", FormMethod.Post, new { @class = "modal-content animate" }))
        {
            @Html.AntiForgeryToken()
            <div class="imgcontainer">
                <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
                <h1 style="text-align:center;color:#007bff">Cập nhật món ăn</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label for="inputEmail2" class="col-3 col-form-label text-right">Tên món:</label>
                            <div class="col-7">
                                <input type="text" placeholder="Enter Username" id="FoodName" class="text col" name="Food_name">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label for="inputEmail2" class="col-3 col-form-label text-right">Giá:</label>
                            <div class="col-7">
                                <input type="text" placeholder="Enter Password" id="Price" class="text" name="price">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label for="inputEmail2" class="col-3 col-form-label text-right">Nhóm đồ uống:</label>
                            <div class="col-7">
                                @Html.DropDownList("idCategory", null, "--Chọn danh mục--", new { @class = "nav-link dropdown-toggle", @id = "DanhMuc", @style = "padding: 0.3em 5.4em 0.3em 1em;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label for="inputEmail2" class="col-3 col-form-label text-right">DVT:</label>
                            <div class="col-7">
                                @Html.DropDownList("idDVT", null, "--Chọn danh mục--", new { @class = "nav-link dropdown-toggle", @id = "DVT", @style = "padding: 0.3em 7.1em 0.3em 1em; " })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label for="inputEmail2" class="col-3 col-form-label text-right">Trạng thái:</label>
                            <div class="col-7">
                                <input type="checkbox" name="status" class="checkbox1" id="ckStatus" />
                            </div>
                        </div>
                    </div>
                </div>
       

                <button type="submit" class="button" id="submit">Save</button>
            </div>
        }
    </div>
    <div id="modal-wrapper-Del" class="modal">
        @using (Html.BeginForm("Delete", "Food", FormMethod.Post, new { @class = "modal-contentDel animateDel" }))
        {
            @Html.AntiForgeryToken()

            <div class="container-confirm">
                <div class="title-main">Xác nhận xóa</div>
                <div class="title-content">
                    <div class="content-titlt">Bạn có đồng ý xóa ?</div>
                    <div class="content-confrim">
                        <a class="btnCf-cancel" onclick="document.getElementById('modal-wrapper-Del').style.display = 'none'">Hủy</a>
                        <button class="btnCf-yes" type="submit" onclick="dongy(idfood)" id="DeleteF">Đồng ý</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@*Popup Update*@

<script>
    var foodId = 0;
    var Deleteid = 0;
    var idfood = 0;
    //sự kiện xóa
    $('#creatCate').click(function(e) {
        var x = $('#iddvt').val();
        var y = $('#cate').val();
        var z = $('#status').prop('checked');
        if(y==0)
        {
            alert('Bạn Cần chọn danh mục');
            e.preventDefault();
        }else if(x==0)
        {
            alert('Bạn Cần chọn đơn vị tính');
            e.preventDefault();

        }else if(z== false)
        {
            alert('Bạn Cần chọn trạng thái');
            e.preventDefault();
        }
        else
        {
            e.preventDefault.remove();
        }
    })
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode == 59 || charCode == 46)
            return true;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    function DeleteFood(element, id) {
        document.getElementById('modal-wrapper-Del').style.display = 'block';
        $('#DeleteF').click(function (e) {
            var iddelete =
           {
               id: id
           }
            $.ajax({
                url: '@Url.Action("Delete", "Food")',
                type: 'POST',
                data: iddelete,
                OnComplete: function () {
                    OnComplete: "$('#row_" + id + "').remove()";
                },
                success: function () {
                    window.location.reload();
                },
                error: function () {
                    alert('error');
                }
            })
        })


    }

    
    // If user clicks anywhere outside of the modal, Modal will close

    var modal = document.getElementById('modal-wrapper');
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    //Bind giữ liệu lên popup
    function UpdateFood(id) {
        document.getElementById('modal-wrapper').style.display = 'block';
        $.ajax({
            url: '@Url.Action("Edit", "Food")',
            data:
                { id: id },
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                var data = response.data;
                $('#FoodName').val(data.Food_name);
                $('#Price').val(data.price);
                $('#ckStatus').prop('checked', data.status);
                $('#DanhMuc').val(data.idCategory);
                $('#DVT').val(data.idDVT);
                foodId = id;
            },
            error: function () {
                alert('Lỗi rồi');
            }
        })
    }
    //update dữ liệu...
    $('#submit').click(function (e) {
        //call ajax
        var foodName = $('#FoodName').val();
        var price = $('#Price').val();
        var stt = $('#ckStatus').prop('checked');
        var danhmuc = $('#DanhMuc').val();
        var dvt = $('#DVT').val();
        var food_id = foodId;
        var url = 'Admin/Food/Index';
        var Food = {
            Food_id: food_id,
            Food_name: foodName,
            price: price,
            status: stt,
            idCategory: danhmuc,
            idDVT: dvt
        }
        $.ajax({
            url: '@Url.Action("Update", "Food")',
            type: 'POST',
            data: Food,
            success: function () {
                document.getElementById('modal-wrapper').style.display = 'none';
                window.location.reload();
            },
            error: function () {
                alert('error');
            }
        })
        e.preventDefault();
    })

    //=====================DELETE===================
    var modal = document.getElementById('modal-wrapper-Del');
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

