@model Models.ViewModel.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = null;
}
@section header{
    Reset Password
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forget Password</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Assets/Admin/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/Assets/Admin/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/Assets/Admin/libs/css/style.css">
    <link rel="stylesheet" href="/Assets/Admin/vendor/fonts/fontawesome/css/fontawesome-all.css">
</head>
<style>
       html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-image:url(../../../../Assets/Admin/images/login.jpg);
              background-size: cover;
                background-repeat: no-repeat;
        }

        .logo {
            color: #299cfd;
        }
</style>
@*<div class="splash-container">
    <div class="card">
        <div class="card-header text-center">
            <h2 class="logo">T-COFFEE</h2>
            <span class="splash-description">Nhập mật khẩu mới !</span>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="text-success">
                        @ViewBag.Message
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(a => a.ResetCode)
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Tạo mới" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
           </div>
        <div class="card-footer bg-white p-0  ">
            <div class="card-footer-item card-footer-item-bordered col">
                <a href="/Admin/Login/Index" class="footer-link">Đăng nhập</a>
            </div>
            @*<div class="card-footer-item card-footer-item-bordered">
                <a href="#" class="footer-link">Sing up</a>
            </div>

        </div>
        </div>
</div>
<div>
    @Html.ActionLink("Quay lại", "Index")
</div>*@
<div class="splash-container">
    <div class="card">
        <div class="card-header text-center">
            <h2 class="logo">T-COFFEE</h2>
            <span class="splash-description">Nhập mật khẩu mới !</span>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("ResetPassword", "ForgetPassword",FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="text-success">
                    @ViewBag.Message
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col" })
                        <div class="col">
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col" })
                        <div class="col">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(a => a.ResetCode)
                    </div>
                    <div class="form-group pt-1">
                            <input class="btn btn-block btn-primary btn-xl" type="submit" value="Tạo mới" />
                    </div>
            }
        </div>
        @*<div class="card-footer text-center">
                <span>Don't have an account? <a href="pages-sign-up.html">Sign Up</a></span>
            </div>*@
        <div class="card-footer bg-white p-0  ">
            <div class="card-footer-item card-footer-item-bordered col">
                <a href="/Admin/Login/Index" class="footer-link">Đăng nhập</a>
            </div>
            @*<div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">Sing up</a>
                </div>*@

        </div>
    </div>
</div>

@section jsFooter{
    <script src="/Assets/Admin/libs/js/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
}







